argparse	
asn1crypto	
awsebcli	
backports.functools-lru-cache		
backports.ssl-match-hostname	
beautifulsoup4	
blessed	
botocore		
bs4		
burl		
cached-property	
certifi	
Click		
chardet		
chrome-driver	
colorama		
cryptography		
docker			
docker-compose	
docker-pycreds	
dockerpty		
docopt		
docutils		
enum34	
flask	
funcsigs
gunicorn
itsdangerous	
jsonschema	
jinja2	
MarkupSafe
pip		
purls	
PyMsgBox
python == 2.7	
PyYAML			
requests
soupsieve
tests
twilio	
werkzeug			
wsgiref			
